<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011968528409-v7ja1ovnfhmen2mennjde6ur30buf2vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011968528409-v7ja1ovnfhmen2mennjde6ur30buf2vg</string>
	<key>API_KEY</key>
	<string>AIzaSyBD8ahm9cabpnp-yvHUu0Mfr2NAVIq2MfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1011968528409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virusclothingappclone</string>
	<key>PROJECT_ID</key>
	<string>virusclothingclone</string>
	<key>STORAGE_BUCKET</key>
	<string>virusclothingclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011968528409:ios:6b9216b02fef56b58a1a88</string>
</dict>
</plist>